.banner{
float:center;
padding: 20 30;
border-style:outset;
border-color:#808080;
position:relative;
}
.logo{
padding-left:3%;
float:left;
position:absolute;
}
.navBar{
padding-right:2%;
}
.signUp{
  background-color:#7851a9;
float:right;
font-size:14px;
}

#sign.sign{
    background-color:#7851a9;
font-size:14px;
}
.login{
    width:70px;
background-color:#7851a9;
float:right;
font-size:14px;
}
.home{
background-color:#7851a9;  
font-size:14px;
}
.banner-container{
padding-left: 20%;
}
.first{
display:inline;
list-style-type:none;
}
#footer div{
display:inline-block;
}

#footdiv{
    padding-left:42%;
}
#footer{
    padding-left:40%;
}
.navLeft{
    float:left;
    padding-left:12px;
    width:165px;
}
.navvy{
    margin:0;
    background-color:#7851a9;  
    font-size:14px;
    width:100%;
}
.nav{
    list-style: none;
}
.jumbotron{
    padding-top:12px;
    padding-bottom:18%;
    padding-left:253px;
    padding-right:215px;

}
.jumbotron2{
    padding-top:12px;
    padding-bottom:20%;
    padding-left:253px;
    padding-right:215px;

}
.jumbo{
    border-style:outset;
    border-color:#808080;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    float:right;
     background-color:#C3C3E5;
}
.jumbo2{
       border-style:outset;
    border-color:#808080;
    text-align:center;
    padding-left:29.5%;
    width:70%;
    padding-bottom:15px;
    float:right;
     background-color:#C3C3E5;
}
.jumbo3{
        border-style:outset;
    border-color:#808080;
    text-align:center;
    width:70%
    float:right;
     background-color:#C3C3E5;
    
}
.signUpCenter{
     background-color:#7851a9;
    font-size:18px;
    
}
.formL {
    text-align:center;
    float:left;
	width: 455px;
	margin: 0 auto;
    padding-bottom:25px;
}
.submit{
        width:70px;
background-color:#7851a9;
position:absolute;
    right:37.5%;
font-size:14px;
}
#searchT{
    padding-left:200px;
}
#loginR{
       width:70px;
background-color:#7851a9;
font-size:14px;
}
.error{
    padding-top:20px;
}






